@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/* header section */
.background {
	background: url("./assets/bg2.jpg") no-repeat center center;
	background-size: cover;
	height: 100vh;
	position: relative;
	color: white;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.content {
	position: relative;
	z-index: 2;
}
.icon {
	width: 30px;
	height: 30px;
}

.border-container {
	text-align: center;
	display: flex;
	gap: 10px;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	bottom: 90px;
}

.highlight-border {
	width: 40px;
	height: 3px;
	background-color: #b8b8b8;
}

.highlight-border.active {
	background-color: #ffffff;
}

.highlight-border.active p {
	margin-top: -45px;
	color: #ffffff;
	margin-left: -20px;
}

.custom-logo {
	width: 70%;
}

.custom-border {
	margin-top: 200px;
	position: relative;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right, #fff 50%, transparent 50%);
}

.custom-border::before {
	content: "";
	position: absolute;
	top: 1px;
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.5);
}

/* mirae asset section */
.ma-section {
	padding: 100px 0px;
}

.ma-section .section-title {
	color: #00427a;
}

.ma-section .info-item {
	font-size: 2rem;
	font-weight: bold;
	color: #004a8d;
}
.ma-section .info-label {
	color: #f57c00;
	font-weight: bold;
}

.ma-section .highlight-border.active {
	background-color: #004a8d;
}

.ma-section .highlight-border.active p {
	margin-top: -45px;
	color: #004a8d;
	margin-left: -20px;
}

.title-container {
	position: relative;
	text-align: center;
}

.title {
	font-size: 19rem;
	font-weight: bold;
	color: #333;
	margin: 0;
	position: relative;
}

.title-shadow {
	position: absolute;
	bottom: -90;
	left: -65px;
	color: rgba(172, 196, 216, 0.4);
	z-index: -1;
}

/* awards section */
.awards {
	padding: 100px 0px;
}

.awards .overlay {
	background-image: url("./assets/award.jpg"); /* Replace with your image path */
	background-size: cover;
	background-position: center;
	height: 100%;
	color: white;
	padding: 20px;
	filter: grayscale(100%);
	opacity: 0.5;
}
.awards .title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 20px;
	color: #004a8d;
}
.awards h1,
.awards p {
	color: rgba(44, 44, 44, 1);
}
.awards .content {
	padding: 20px;
}
.awards .card {
	border: none;
	border-radius: 0px;
	margin: 10px;
	transition: transform 0.3s ease;
	background-color: transparent;
}
.awards .card:hover {
	transform: scale(1.05); /* Slight zoom effect on hover */
}
.awards .card-img-top {
	height: 200px;
	object-fit: cover;
	border-radius: 0px;
}
.awards .card-body {
	padding: 20px;
}
.awards .card-title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 10px;
}
.awards .card-text {
	font-size: 0.9rem;
	color: #555;
}

.awards .border-container {
	bottom: 30px;
}
/* blog section */
.core-value {
	padding: 100px 0px;
}
.core-value .img-container {
	height: 70vh;
}

.core-value .border-container {
	margin-top: 50px;
}

.core-value .highlight-border.active p {
	color: #004a8d;
}
.core-value .highlight-border.active {
	background-color: #004a8d;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.custom-logo {
		width: auto;
	}

	.convenience {
		padding: 100px 0px;
	}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
